/*
 * Style v1.0.0
 * Copyright 2021 Madrugrelo
 * The MIT License (MIT). Please see (https://github.com/madrugrelo/pwa/blob/master/LICENSE) for more information.
 */
*{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}[hidden]{display:none}body{line-height:1}html{font-family:Times New Roman,sans-serif;font-size:16px;font-weight:700;box-sizing:border-box}.main{margin:0 auto;padding-top:25px;height:100%;width:100%;max-width:680px}
